@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logout", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
              @Html.ActionLink("Witaj " + User.Identity.Name  + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
        @*    <li><a href="javascript:document.getElementById('logoutForm').submit()">Wyloguj @User.Identity.Name</a></li> *@
            <li>@Html.ActionLink("Wyloguj", "SignOut", "Account", routeValues: null, htmlAttributes: new { id = "logoffLink" })        </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "SignUp", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        </ul>
}

