@model Sklepy.Models.ViewModel.ProduktIndexData

@{
    ViewBag.Title = "Miejsce";
  //  Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Wybrane miejsca</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>nazwa</th>
        <th>adres</th>
        <th>telefon</th>
        <th>mail</th>
        <th>dataotw</th>
        <th></th>
    </tr>

@foreach (var item in Model.Miejsces)
{
    
    string selectedRow = "";    
    if (item.MiejsceID == ViewBag.MiejsceID)
    {
        selectedRow = "success";
    }

<tr class="@selectedRow">
        <td>
            @Html.DisplayFor(modelItem => item.Nazwa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Adres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Data_otwarcia)
        </td>
        <td>
            @Html.ActionLink("Wybierz tą galerię", "Index", new { id = item.MiejsceID }) @*|
            @Html.ActionLink("Edit", "Edit", new { id=item.MiejsceID }) |
            @Html.ActionLink("Details", "Details", new { id=item.MiejsceID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MiejsceID })*@
        </td>
    </tr>
}

</table>


@if (Model.Skleps != null)
{


    <h3>Sklepy w galerii</h3>
    <table class="table">
        <tr>
            <th></th>
            <th>Nazwa</th>
            <th>Numer w galerii</th>
            <th>Telefon</th>
        </tr>


        @foreach (var item in Model.Skleps)
        {
            string selectedRow = "";
            if (item.SklepID == ViewBag.SklepID)
            {
                selectedRow = "success";
            }
            <tr class="@selectedRow">

                <td></td>
                <td>
                    @item.Nazwa
                </td>
                <td>
                    @item.Numer
                </td>
                <td>
                    @item.Telefon
                </td>


                <td>
                    @Html.ActionLink("Wybierz ten sklep", "Index", new { SklepID = item.SklepID }) @*|
                    @Html.ActionLink("Edit", "Edit", new { SklepID = item.SklepID }) |
                    @Html.ActionLink("Details", "Details", new { SklepID = item.SklepID }) |
                    @Html.ActionLink("Delete", "Delete", new { SklepID = item.SklepID })*@
                </td>

            </tr>

        }


    </table>
}



      
@if (Model.Produkts != null)
{


    <h3>Przedmioty w danym sklepie</h3>
    <table class="table">
        <tr>
            <th></th>
            <th>Nazwa</th>
            <th>Ilosc</th>
            <th>Cena</th>
        </tr>


        @foreach (var item in Model.Produkts)
        {
            string selectedRow = "";
            if (item.ProduktID == ViewBag.ProduktID)
            {
                selectedRow = "success";
            }
            <tr class="@selectedRow">

                <td></td>
                <td>
                    @item.Nazwa
                </td>
                <td>
                    @item.IloscOgolem
                </td>
                <td>
                    @item.Cena
                </td>
            </tr>

        }


    </table>
}


