@model Sklepy.Models.DB.Klient_has_Sklep

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Klient_has_Sklep</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Znizka1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Znizka1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Znizka2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Znizka2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Znizka3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Znizka3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Klient.Imię)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Klient.Imię)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sklep.Nazwa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sklep.Nazwa)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Klient_has_Sklep1 }) |
    @Html.ActionLink("Back to List", "Index")
</p>
