@model Sklepy.Models.ViewModel.Klient_has_SklepIndexData

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
Twój numer klienta: @ViewBag.idzal

<h3>@ViewBag.brakZnizek</h3>

<table class="table">
    <tr>
        <th>Sklep</th>
        <th>Zniżka1</th>
        <th>Zniżka2</th>
        <th>Zniżka3</th>

    </tr>

    @if (Model != null)
    {
        foreach (var item in Model.Klient_has_Skleps)
        {
            <tr>
                <td>@item.Sklep.Nazwa</td>
                <td>@item.Znizka1</td>
                <td>@item.Znizka2</td>
                <td>@item.Znizka3</td>               

                
            </tr>
        }
    }
</table>