@model IEnumerable<Sklepy.Models.Klient_has_Sklep>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Klient.Imie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sklep.Nazwa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.znizka1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.znizka2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.znizka3)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Klient.Imie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sklep.Nazwa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.znizka1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.znizka2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.znizka3)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Klient_has_SklepID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Klient_has_SklepID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Klient_has_SklepID })
        </td>
    </tr>
}

</table>
